.cart__item-img {
  background-position: center;
  background-size: cover;
  width: 60px;
  height: 50px;
  margin: 10px;
  border: 1px solid;
  border-radius: 10px;
}

.cart__item {
  margin: 20px 0;
  border-bottom: 2px solid #ff9845;   
}

.cart__item-container {
  width: 100%;
}

 h3 {
  text-align: center;
  border-bottom: 2px solid #ff9845;

}

.cart__item-title {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-bottom: 20px;
}

.cart__item-shippingprice {
  display: flex;
  flex-direction: column;
  font-size: 8pt;
  position: absolute;
  right: 0;
  margin-top: -120px;
  text-align: center;
  margin-right: 5px;
}

.cart__item-price {
  display: flex;
  flex-direction: column;
  font-size: 8pt;
  position: absolute;
  right: 100px;
  margin-top: -120px;
  text-align: center;
  margin-right: 5px;
}

.cart__checkout {
  width: 100%;
  position: absolute;
  bottom: 100px;

}

.cart__checkout-total {
    text-align: center;
    border-bottom: 2px solid #ff9845;
}

.cart__checkout-total span {
  font-weight: bold;
  text-align: left;
}

.cart__checkout-btn {
  padding-top: 15px;
  text-align: center;
}

.cart__item .deleteBtn {
  width: 100%;
}

.checkout__cart-container {
  position: absolute;
  width: 30%;
  border: 2px solid;
  margin: 40px;
}

.checkout__container {
  display: flex;
  flex-direction: column;
}

.checkout__shipping-details {
  margin: 40px;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 20px;
  width: 40%;
  border: 2px solid;
}

.checkout__shipping-details div {
  margin: 10px 20px;
}

.checkout__shipping-details button {
  margin-right: auto;
  margin-left: auto;
}

.checkout__shippingform {
  margin: 5px;
}

.checkout__confirm {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 150px;
}

.checkout__confirm button {
  width: 30%;
}