.cart-close {
  cursor: pointer;
  position: absolute;
  color: rgb(112, 18, 92);
  right: 0;
  padding: 15px;
  font-size: 16pt;
  z-index: 50;
}

.cart-container {
  height: 100vh;
  width: 260px;
  position: fixed;
  display: flex;
  border-right: 1px solid;
  flex: 0 0 fit-content;
  right: 0;
  top: 0;
  animation-name: slideCart;
  animation-duration: 250ms;
  background-color: white;
  padding-top: 30px;

}

@keyframes slideCart {
  0% {
    transform: translateX(100%)
  }

  ;

  25% {
    transform: translateX(-15%)
  }

  ;

  50% {
    transform: translateX(-10%)
  }

  ;

  75% {
    transform: translateX(-5%)
  }

  ;

  100% {
    transform: translateX(1%)
  }

  ;
}

.cart-item__img {
  background-position: center;
  background-size: cover;
  width: 60px;
  height: 50px;
  margin: 10px;
  border: 1px solid;
  border-radius: 10px;
}

.cart-item {
  margin: 20px 0;
  border-bottom: 2px solid #ff9845;   
}

.cart-item__container {
  width: 100%;
}

 h3 {
  text-align: center;
  border-bottom: 2px solid #ff9845;
}

.cart-item__title {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-bottom: 20px;
}

.cart-item__shippingprice {
  display: flex;
  flex-direction: column;
  font-size: 8pt;
  position: absolute;
  right: 40px;
  margin-top: -120px;
  text-align: center;
  margin-right: 5px;
}

.cart-item__price {
  display: flex;
  flex-direction: column;
  font-size: 8pt;
  position: absolute;
  right: 140px;
  margin-top: -120px;
  text-align: center;
  margin-right: 5px;
}

.cart-checkout {
  width: 100%;
  position: absolute;
  bottom: 100px;
}

.cart-checkout__total {
    text-align: center;
    border-bottom: 2px solid #ff9845;
}

.cart-checkout__total span {
  font-weight: bold;
  text-align: left;
}

.cart-checkout__btn {
  padding-top: 15px;
  text-align: center;
}

.cart-item .delete-btn {
  width: 100%;
}

.checkout-cart__container {
  margin: 20px 40px;
  border: 2px solid;
}

.checkout-container h2 {
  text-align: center;
}

.checkout-shipping__details {
  margin: 20px 40px;
  display: flex;
  flex-direction: column;
  border: 2px solid;
}

.checkout-shipping__details div {
  margin: 10px 20px;
}

.checkout-shipping__details button {
  width: 300px;
  margin-right: auto;
  margin-left: auto;
}

.checkout-shipping__form {
  margin: 5px;
  width: 90%;
}

.checkout-shipping__form input {
  width: 80%;
  margin: 5px;

}

.checkout-shipping__form button {
  width: 300px;
  margin: 20px;
}

.checkout-confirm {
  margin: 20px 40px;
  bottom: 0;
  width: 100%;
  text-align: center;

}

.checkout-confirmation {
  text-align: center;
  width: 100%;
  padding-bottom: 350px;  
}

.checkout-confirmation button {
  width: 20%;
}

.checkout-shipping__details p {
  text-align: center; 
}

@media screen and (max-width: 670px) {
  .cart-container {
    position: absolute;
    justify-content: center;
    width: 100%;
    text-align: center;
  }
}




