/* TODO Add site wide styles */
* {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial;
}

input, textarea, select {
  padding: 5px;
  min-width: 100%;
  border: 1px solid lightgrey;
  margin: 5px;
  border-radius: 5px;
}

input:focus, textarea:focus, select:focus {
  border: 1px solid rgb(112, 18, 92);
}

button {
  border-radius: 80px;
  cursor: pointer;
  color: #ff9845;
  padding: 10px 0;
  text-align: center;
  width: 80%;
  margin: 10px;
  box-shadow: 2px 2px 15px black;
  background-color: rgb(112, 18, 92);
}

button:hover {
  background-color: #fd576b;
}

button:active {
  box-shadow: 0px 0px 0px;
  border: 0px;
}

