* {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial;
}

input, textarea, select {
  padding: 5px;
  width: 95%;
  border: 1px solid lightgrey;
  margin: 5px 0;
  border-radius: 5px;
}

input:focus, textarea:focus, select:focus {
  border: 1px solid rgb(112, 18, 92);
}

button {
  border-radius: 80px;
  width: 40%;
  cursor: pointer;
  color: #ff9845;
  padding: 10px 0;
  text-align: center;
  margin: 10px;
  box-shadow: 2px 2px 15px black;
  background-color: rgb(112, 18, 92);
}

button:hover {
  background-color: #fd576b;
}

button:active {
  box-shadow: 0px 0px 0px;
  border: 0px;
}

.homepage-description {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 40px;
}

.homepage-footer {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 2fr 2fr 2fr;
  bottom: 0;
  position: fixed;
  height: 20vh;
  width: 100%;
  border-top: 1px solid rgb(180, 176, 176);
}

 h6 {
  margin: 20px;
  text-align: center;
  border-bottom: 2px solid #ff9845;
}

.homepage-footer ul {
  list-style: none;
  font-size: 8pt;
  line-height: 1;
  margin-left: 40px;
  margin-top: -10px;
}

.homepage-footer li {
  cursor: pointer;
}

.homepage-footer li:hover {
  color: #fd576b;
}

.homepage-footer__socialicons {
  display: flex;
  width: 55%;
  justify-content: center;
 }
  
.homepage-footer__socialicons li {
  margin: 0 10px;
  font-size: 16pt;

}