.auth-form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  height: fit-content;
  padding: 30px;
  opacity: 0.9;
  box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.8);  
  align-items: center;
}

.auth-logo {
  width: 100%;
}

.auth-form h3 {
  text-align: center;
  margin-bottom: 10px;
}

.auth-form__button {
  padding: 10px 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;  
}

.auth-form__error {
  background-color: rgba(255, 0, 0, 0.349);
  text-align: center;
}

.auth-form p {
  text-align: center;
  font-size: 10pt;
}

.auth-slideshow li {
  list-style: none;
}

.auth-slideshow li span { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  animation: imageAnimation 36s linear infinite 0s; 
}

@keyframes imageAnimation { 
  0% { opacity: 0; animation-timing-function: ease-in; }
  8% { opacity: 1; animation-timing-function: ease-out; }
  17% { opacity: 1 }
  25% { opacity: 0 }
  100% { opacity: 0 }
}

@keyframes titleAnimation { 
  0% { opacity: 0 }
  8% { opacity: 1 }
  17% { opacity: 1 }
  19% { opacity: 0 }
  100% { opacity: 0 }
}

.auth-slideshow li:nth-child(1) span { 
  background-image: url(../../assets/furniture01.jpg) 
}

.auth-slideshow li:nth-child(2) span { 
  background-image: url(../../assets/furniture02.jpg);
  animation-delay: 6s; 
}

.auth-slideshow li:nth-child(3) span { 
  background-image: url(../../assets/furniture03.jpg);
  animation-delay: 12s; 
}

.auth-slideshow li:nth-child(4) span { 
  background-image: url(../../assets/furniture04.jpg);
  animation-delay: 18s; 
}

.auth-slideshow li:nth-child(5) span { 
  background-image: url(../../assets/furniture05.jpg);
  animation-delay: 24s; 
}

.auth-slideshow li:nth-child(6) span { 
  background-image: url(../../assets/furniture06.jpg);
  animation-delay: 30s; 
}

.auth-form__buttonContainer {
  display: flex;
}

.auth-float {
  float: left;
  margin-left: 8%;
}

@media screen and (max-width: 600px) {
  .auth-form {
    width: 75vw;
    opacity: 1;
  }
}

@media screen and (min-width: 600px) {
  .auth-form {
    width: 50vw;
  }

  .auth-form input {
    width: 95%;
  }
}

@media screen and (min-width: 1100px) {
  .auth-form {
    width: 35vw;
  }

  .auth-form input {
    width: 95%;
    height: 3vh;
    font-size: 18pt;
  }
}